In [1]:
import pandas as pd
import os

In [13]:
#had to change it to over here since this is where my nfl_data folder was located
os.chdir(r"C:\Learning\Python\NFL Big Data Bowl 2024\nfl_data")

In [14]:
players_df = pd.read_csv("players.csv")
players_df.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [7]:
players_df = players_df[["nflId", "height", "weight", "birthDate", "position"]]
players_df.head()

   nflId height  weight   birthDate position
0  25511    6-4     225  1977-08-03       QB
1  29550    6-4     328  1982-01-22        T
2  29851    6-2     225  1983-12-02       QB
3  30842    6-6     267  1984-05-19       TE
4  33084    6-4     217  1985-05-17       QB

In [10]:
#games df
games_df = pd.read_csv("games.csv")
games_df.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [11]:
games_df = games_df[["gameId","homeTeamAbbr","homeTeamAbbr","homeTeamAbbr","visitorFinalScore"]]
games_df.head()

       gameId homeTeamAbbr homeTeamAbbr homeTeamAbbr  visitorFinalScore
0  2022090800           LA           LA           LA                 31
1  2022091100          ATL          ATL          ATL                 27
2  2022091101          CAR          CAR          CAR                 26
3  2022091102          CHI          CHI          CHI                 10
4  2022091103          CIN          CIN          CIN                 23