In [1]:
import pandas as pd
import os

In [2]:
os.chdir("nfl_data")

In [7]:
players_df = pd.read_csv("players.csv")
players_df

,nflId,height,weight,birthDate,collegeName,position,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan
...,...,...,...,...,...,...,...
1678,55200,6-6,266,NaN,Indiana,DT,Ryder Anderson
1679,55212,6-0,230,NaN,Iowa State,ILB,Jake Hummel
1680,55239,6-2,300,NaN,Pennsylvania,DT,Prince Emili
1681,55240,6-1,185,NaN,Buffalo,CB,Ja'Marcus Ingram
1682,55241,6-2,280,NaN,Coastal Carolina,DT,C.J. Brewer

In [8]:
players_df = players_df[["nflId", "height", "weight", "birthDate", "position"]]
players_df

      nflId height  weight   birthDate position
0     25511    6-4     225  1977-08-03       QB
1     29550    6-4     328  1982-01-22        T
2     29851    6-2     225  1983-12-02       QB
3     30842    6-6     267  1984-05-19       TE
4     33084    6-4     217  1985-05-17       QB
...     ...    ...     ...         ...      ...
1678  55200    6-6     266         NaN       DT
1679  55212    6-0     230         NaN      ILB
1680  55239    6-2     300         NaN       DT
1681  55240    6-1     185         NaN       CB
1682  55241    6-2     280         NaN       DT

[1683 rows x 5 columns]

In [9]:
def feet_to_inches(height:str) -> int:
    feet, inches = height.split("-")
    return int(feet) * 12 + int(inches)

In [11]:
players_df["height"] = players_df["height"].apply(feet_to_inches)
players_df

C:\Users\Shawn\AppData\Local\Temp\ipykernel_15708\3420085491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_df["height"] = players_df["height"].apply(feet_to_inches)

      nflId  height  weight   birthDate position
0     25511      76     225  1977-08-03       QB
1     29550      76     328  1982-01-22        T
2     29851      74     225  1983-12-02       QB
3     30842      78     267  1984-05-19       TE
4     33084      76     217  1985-05-17       QB
...     ...     ...     ...         ...      ...
1678  55200      78     266         NaN       DT
1679  55212      72     230         NaN      ILB
1680  55239      74     300         NaN       DT
1681  55240      73     185         NaN       CB
1682  55241      74     280         NaN       DT

[1683 rows x 5 columns]

In [ ]:
#games df
games_df = pd.read_csv("games.csv")
games_df